* {
  margin: 0;
  padding: 0;
}
.firstsection {
  background-image: url(images/bg-hero-desktop.svg);
  width: 100%;
  height: 60vh;
}
.secondsection{
  margin: auto;
  padding: 50px 10px;
}
main {
  min-height: 150vh;
}
footer {
  background-color: darkslategray;
  width: 100%;
  height: 50vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.sectionone {
  margin: auto;
}

#topbtn {
  padding: 10px;
  border-radius: 15px;
  padding: 20px;
}
.divcontain {
  display: flex;
  height: 50vh;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 2rem;
}
.divcontain > *{
  flex-shrink: 1;
  flex-basis: 100%;
  padding: 20px 50px;
}
/* .stnoneone {
  width: 50%;
}
.stnoneimg {
  width: fit-content;
  align-content: center;
} */
header {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}

.sectiontwo{
  display: flex;
  gap: 2rem;
  border: 2px solid hsl(208, 11%, 55%);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
}
.sectionthree{
  display: flex;
  gap: 2rem;
  border: 1px solid gray;
  margin-bottom: 20px;
  padding: 30px;

}

.sectionfour{
  display: flex;
  gap: 2rem;
  border: 1px solid gray;
  margin-bottom: 20px;
  padding: 30px;
}


